.about {
    background-color: rgba(214, 244, 228, 0.5);
    padding: 16px 5vw;
}

.about__container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.about__title{
    font-size: 22px;
    font-weight: 700;
}

.about__paragraph{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.1;
}

.about__container img {
    width: 140px;
    height: 52px;
}

@media (min-width: 768px) {

    .about__title{
        font-size: 28px;
        
    }
    
    .about__paragraph {
        font-size: 16px;
    }

}



@media (min-width: 1024px) {
    .about__paragraph {
        font-size: 18px;
    }

}